@import "tailwindcss";

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-primary);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    font-family:
      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
      sans-serif;
  }

  .dark body {
    background-color: var(--color-zinc-950);
    color: var(--color-zinc-100);
  }
}

/* Custom Scrollbar - Dark for contrast */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #94a3b8;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1e293b;
}
